.footer {
  background: $primary-color;

  &__wrapper {
    margin: 0 auto;
    max-width: $desktop;
    padding: $space;
    @include tablet {
      align-items: flex-start;
      display: flex;
      height: 150px;
      justify-content: space-between;
    }
  }

  &__section {
    &:not(:last-child) {
      margin: 0 0 $space*4;
      @include tablet {
        margin: 0;
      }
    }
  }

  &__title {
    @include headline-text-l;
    color: #FFF;
    margin: 0 0 $space;
  }

  &__text {
    @include body-text-s;
    color: #FFF;
    margin: 0;
    &:not(:last-child) {
      margin: 0 0 $space;
    }
  }

}
