.hero {
  align-items: center;
  border-bottom: 1px dashed $primary-color;
  margin: 0 0 $space*4;
  padding: $space*4 0;
  @include tablet {
    display: grid;
    grid-template-columns: auto 1fr;
  }

  &__image {
    border: 5px solid $accent-color;
    border-radius: 100%;
    height: 100px;
    margin: 0 0 $space;
    object-fit: cover;
    object-position: -20px 0;
    width: 100px;
    @include tablet {
      border: 8px solid $accent-color;
      height: 200px;
      margin: 0 $space*2 0 0;
      object-position: -40px 0;
      width: 200px;
    }
  }

  &__headline {
    @include headline-text-l;
    color: $text-color;
    margin: 0 0 $space;
  }

  &__text {
    @include body-text;
    color: $text-color;
    margin: 0;
  }

  &__link {
    color: $accent-color;
    text-decoration: none;
  }

}
