.hero {
  align-items: center;
  border-bottom: 1px dashed $primary-color;
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 0 0 $space*4;
  padding: $space*4 0;

  &__image {
    border: 10px solid $accent-color;
    border-radius: 100%;
    height: 200px;
    margin: 0 $space*2 0 0;
    object-fit: cover;
    width: 200px;
  }

  &__headline {
    @include headline-text-l;
    color: $primary-color;
    margin: 0 0 $space;
  }

  &__text {
    @include body-text;
    color: $primary-color;
    margin: 0;
  }

  &__link {
    color: $accent-color;
    text-decoration: none;
  }

}
