.link {
  @include link-text;
  color: $accent-color;
  display: inline-block;
  text-decoration: none;
  &:after {
    border-bottom: 2px solid $accent-color;
    content: '';
    display: block;
    transition: width 0.2s;
    width: 0;
  }
  &:hover {
    &:after {
      width: 100%;
    }
  }

  &--newline {
    display: table;
  }

  &--spaced {
    margin: 0 15px 0 0;
  }

}
