.logo {
  @include text-bold;
  text-decoration: none;
  text-transform: uppercase;

  &__title {
    border-bottom: 2px solid $secondary-color;
    color: $accent-color;
    display: block;
    font-size: 28px;
    margin: 0 0 4px;
    padding: 0 0 6px;
  }

  &__subtitle {
    color: $primary-color;
    display: block;
    font-size: 23px;
  }

}
