.logo {
  @include headline-text-m;
  text-decoration: none;
  text-transform: uppercase;

  &__title {
    border-bottom: 2px solid $secondary-color;
    color: $accent-color;
    display: block;
    font-size: 28px;
    padding: 0 0 3px;
  }

  &__subtitle {
    color: $secondary-color;
    display: block;
    font-size: 23px;
  }

}
