.logo {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &__title {
    @include logo-title-text;
    border-bottom: 2px solid $secondary-color;
    color: $accent-color;
    display: table;
  }

  &__subtitle {
    @include logo-subtitle-text;
    color: $secondary-color;
  }

}
