.nav {
  @include mobile {
    background: $primary-color;
    height: calc(100vh - #{$header-height-mobile});
    position: fixed;
    right: -300px;
    top: $header-height-mobile;
    transition: right 0.2s;
    width: 300px;
  }

  &--active {
    right: 0;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    @include tablet {
      align-items: center;
      display: flex;
    }
  }

  &__item {
    border-bottom: 1px solid $secondary-color;
    @include tablet {
      border: 0;
      &:not(:last-child) {
        margin: 0 $space*2 0 0;
      } 
    }
  }

  &__link {
    color: $secondary-color;
    fill: $secondary-color;
    text-decoration: none;
    transition: color 0.2s, fill 0.2s;
    @include mobile {
      display: flex;
      padding: $space;
    }
    &:hover {
      color: $accent-color;
      fill: $accent-color;
    }
  }

  &__text {
    @include headline-text-m;
    @include tablet {
      display: none;
    }
  }

  &__icon {
    width: 30px;
    @include mobile {
      margin: 0 $space 0 0;
    }
  }

}
