.section {
  display: grid;
  grid-gap: $space*3 0;
  margin: 0 0 $space*4; 
  padding: 0 0 $space*4;
  &:not(:last-child) {
    border-bottom: 1px dashed $primary-color;
  }

  &--grid {
    grid-template-columns: repeat(2, 1fr);
    @include tablet {
      grid-template-columns: repeat(4, 1fr);
    }
    @include desktop {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  &--404 {
    margin: $space*4 0;
    text-align: center;
  }

  &__title {
    @include headline-text-l;
    color: $primary-color;
    grid-column: 1 / -1;
    margin: 0;
  }

  &__text {
    @include body-text;
    margin: 0;
  }

}
