// COLORS // ----------------------------------------------------------------------------
$primary-color: #333;
$secondary-color: #DDD;

$accent-color: lighten(#055C58, 7%);
$accent-light: $accent-color;

$text-color: #333;
