// COLORS
// ----------------------------------------------------------------------------
$primary-color: #222;
$secondary-color: #EEE;

$accent-color: lighten(#055C58, 7%);
$accent-light: $accent-color;

$text-color: #333;
