// COLORS
// ----------------------------------------------------------------------------
$primary-color: #333;
$secondary-color: #E2E2E2;

$accent-color: #1F6CA3;
$accent-light: lighten($accent-color, 5%);
