// TYPOGRAPHY
// ----------------------------------------------------------------------------
$font-headline: 'Oswald', sans-serif;
$font-body: 'Open Sans', sans-serif;

@mixin text {
  font-family: $font-body;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

@mixin text-bold {
  @include text;
  font-family: $font-headline;
  font-size: 22px;
  font-weight: 600;
}

@mixin text-large {
  @include text;
  font-family: $font-headline;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
}
