// TYPOGRAPHY
// ----------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Oswald:500');
$font-headline: 'Oswald', sans-serif;
$font-body: 'Open Sans', sans-serif;

// FONT SIZES
// ----------------------------------------------------------------------------
$logo-title: 28;
$logo-subtitle: 23;
$headline-text-m: 24;
$headline-text-l: 28;
$body-text: 18;
$body-text-s: 14;

// CALCULATE LINE HEIGHT AND FONT SIZE AND CONVERT TO REMS
// ----------------------------------------------------------------------------
@function toRem($pixel) {
  @return ($pixel / 16) + rem;
}

@function lineHeight ($font-size) {
  @return (toRem($font-size * 1.5));
}

@mixin fontSize ($font-size) {
  font-size: toRem($font-size - 2);
  line-height: lineHeight($font-size - 2);
  @include tablet {
    font-size: toRem($font-size);
    line-height: lineHeight($font-size);
  }
}

// TEXT STYLES
// ----------------------------------------------------------------------------
@mixin logo-title-text {
  @include fontSize($logo-title);
  font-family: $font-headline;
  font-weight: 500;
}

@mixin logo-subtitle-text {
  font-family: $font-headline;
  font-size: toRem($logo-subtitle - 1);
  font-weight: 500;
  line-height: lineHeight($logo-subtitle - 3.1);
  @include tablet {
    font-size: toRem($logo-subtitle);
    line-height: lineHeight($logo-subtitle);
  }
}

@mixin headline-text-m {
  @include fontSize($headline-text-m);
  font-family: $font-headline;
  font-weight: 500;
}

@mixin headline-text-l {
  @include fontSize($headline-text-l);
  font-family: $font-headline;
  font-weight: 500;
}

@mixin body-text {
  @include fontSize($body-text);
  font-family: $font-body;
  font-weight: 400;
}

@mixin body-text-s {
  @include fontSize($body-text-s);
  font-family: $font-body;
  font-weight: 400;
}

@mixin link-text {
  @include fontSize($body-text);
  font-family: $font-body;
  font-weight: 600;
}
