// TYPOGRAPHY
// ----------------------------------------------------------------------------
$font-headline: 'Oswald', sans-serif;
$font-body: 'Open Sans', sans-serif;

@mixin body-text {
  font-family: $font-body;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

@mixin headline-text-m {
  font-family: $font-headline;
  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
}

@mixin headline-text-l {
  font-family: $font-headline;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
}
