body {
  background: $secondary-color;
  margin: 0;
}

.fixed {
  overflow: hidden;
}

.main {
  margin: 0 auto;
  max-width: $desktop;
  padding: 0 $space;
  &:after {
    background: transparent;
    content: '';
    height: 100%;
    left: 0;
    position: fixed;
    top: $header-height-mobile;
    transition: background 0.2s, visibility 0.2s;
    visibility: hidden;
    width: 100%;
  }

  &--faded {
    &:after {
      background: transparentize($primary-color, 0.5);
        visibility: visible;
    }
  }

}
